<%- include('../header') -%>

<h1><%= title %></h1>

<div id="posts">
        <% posts.forEach(function(post) { %>
        <div class="post">
                <div class="post-title"><%= post.title %></div>
                <div class="post-abstract"><%= post.content %></div>
                <div class="post-footer">
                        <div class="post-date"><%= post.timestamp %></div>
                        <div class="post-readbtn">
                                <a href="/post/<%= post.id_post %>">Read</a>
                        </div>
                </div>
        </div>
        <% }) %>
</div>

<%- include('../footer') -%>
